/* Dark mode overrides */
body[data-theme='dark'] {
    --primary: #009CFF;
    --light: #191C24;
    --dark: #F3F6F9;
    background-color: var(--light);
    color: var(--dark);
}

body[data-theme='dark'] .bg-light {
    background-color: var(--light) !important;
}

body[data-theme='dark'] .text-dark {
    color: var(--dark) !important;
}
